.nav-pills > li > a {
    margin-left:10px;
    margin-right:10px;
}
.panel{
    margin-top: 10px;
    margin-bottom: 0px;
}
.no-gutter {

    padding-right:0px;
    
}
.gutter {
      padding-left:0px;
}
@media (max-width: 767px) { 
    .gutter    {
        padding-left: 10px;
        padding-right: 10px;
      
    }
    .no-gutter    {
        padding-left: 10px;
        padding-right: 10px;
      
    }
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    border-color:#ccc;
    padding: 25px 25px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
#contacts {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#contacts li a {
  border: 1px solid #ddd;
  margin-top: -1px; 
  background-color: #fff;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block
}
 #mobile {
  font-size: 25px;
}
p{
    font-size: 20px;    
}
#alphaList{
    list-style: none; 
    padding: 0px;
    margin-right: 50px;
}
#id{
  margin-right: 40px;
  padding-left: 15px;
}

